* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body html {
    height: 100%;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.clear {
    clear: both;
}


/* cabecario e navegação */



header {
    height: 100vh;
    width: 100%;
    background-image: url(../imagens/video-fundo\ \(2\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navegacao {
    height: 75px;
    width: 100%;
    background-color: black;
}

header .logo {
    float: left;
    padding: 20px 20px 0 5%;
}

header .logo h2 a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;

}

header nav.menu-desktop {
    float: right;
}

header nav.menu-desktop li {
    display: inline-block;
    padding: 20px 20px 0 0;
}

header nav.menu-desktop li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    transition: 0.5s;

}

header nav.menu-mobile {
    display: none;
}

header nav.menu-desktop li a:hover {
    color: rgb(255, 242, 0);
    transition: 0.5s;
}

/* fim de cabecario  */



/* resumo */

section.introducao {
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: black;
    padding-bottom: 35px;
}

section.introducao .center {
    text-align: center;
    color: #919191;
    font-size: 28px;

}

.estrutura {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resumo {
    margin-top: 50px;
    width: 45%;
    height: 350px;
}

.text-pro {
    border: 1px solid #aaaaaa;
    border-radius: 20px;
}

.text-pro h2 {
    color: #555555;

    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px;
}

.text-pro p {
    text-align: justify;
    color: white;
    font-size: 18px;
    padding: 20px;

}

section.introducao .estrutura .img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../imagens/warley.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* fim de resumo */



/*     compentencias   */


section.compentencias {
    width: 100%;
    padding: 20px;
}

section.compentencias h2 {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    color: #919191;

}

section.compentencias .competencia-estrutura {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.compentencias .competencia-estrutura .posicao1 {
    width: 300px;
    height: 260px;
    margin-top: 20px;

}

section.compentencias .competencia-estrutura .competencia-icon1 {
    background-image: url(../imagens/html-5.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

section.compentencias .competencia-estrutura .competencia-icon2 {
    background-image: url(../imagens/css-3.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

section.compentencias .competencia-estrutura .competencia-icon3 {
    background-image: url(../imagens/pitao.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

section.compentencias .competencia-estrutura .competencia-icon4 {
    background-image: url(../imagens/js.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

/* ** */

/* projetos */
section.projetos {
    width: 100%;
    padding: 20px;
    background-color: black;
}

section.projetos h2 {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    color: #919191;

}

section.projetos .projeto-estrutura {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.projetos .projeto-estrutura .posicao-01 {
    width: 350px;
    height: 220px;
    margin-top: 20px;
    box-shadow: 5px 5px 20px #eeba30;
    cursor: pointer;
}

section.projetos .projeto-estrutura .projeto-1 {
    background-image: url(../imagens/Inserir\ um\ título\ \(2\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

section.projetos .projeto-estrutura .projeto-2 {
    background-image: url(../imagens/Inserir\ um\ título\ \(2\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

section.projetos .projeto-estrutura .projeto-3 {
    background-image: url(../imagens/Inserir\ um\ título\ \(2\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

section.projetos .projeto-estrutura .projeto-4 {
    background-image: url(../imagens/Inserir\ um\ título\ \(2\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

section.projetos .projeto-estrutura .projeto-5 {
    background-image: url(../imagens/Inserir\ um\ título\ \(2\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

section.projetos .projeto-estrutura .projeto-6 {
    background-image: url(../imagens/Inserir\ um\ título\ \(2\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

/* fim */


/* contato */
section.contato {
    width: 100%;
    padding: 20px;
}

section.contato h2 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: #555555;
}

section.contato p {
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

section.contato .estrutura-contato {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.contato .estrutura-contato .contato1 {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    cursor: pointer;
}

section.contato .estrutura-contato .inst {
    background-image: url(../imagens/intagram\ \(3\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: 0.5s;

}

section.contato .estrutura-contato .whatsaap {
    background-image: url(../imagens/intagram\ \(1\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: 0.5s;
}

section.contato .estrutura-contato .gmail {
    background-image: url(../imagens/intagram\ \(2\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: 0.5s;

}

section.contato .estrutura-contato .linkedin {
    background-image: url(../imagens/intagram\ \(4\).png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: 0.5s;

}

section.contato .estrutura-contato .linkedin:hover,
section.contato .estrutura-contato .gmail:hover,
section.contato .estrutura-contato .whatsaap:hover,
section.contato .estrutura-contato .inst:hover {
    filter: grayscale(0);
    transition: 0.5s;
}

/* fim */

/* documento */

section.cv {
    width: 100%;
    background-color: black;
    padding: 20px 0;
}

.text-baixar {
    color: white;
    text-align: center;
}


.text-baixar h2 {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 15px;
}

.text-baixar p {
    font-size: 15px;
    margin-bottom: 15px;
}

.baixar {
    padding: 8px;
    margin: 0 auto;
    height: 33px;
    width: 150px;
    background-color: #919191;
    border-radius: 15px;
    transition: 0.5s;
}

.baixar a {
    padding-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.baixar:hover {
    background-color: #eeba30;
    color: white;
    transition: 0.5s;
}

footer {
    width: 100%;
    height: 90px;
    padding-top: 20px;
    background-color: black;
}

.creditos-1 {
    text-align: center;

}
.creditos-1 a {
    color: white;
    text-decoration: none;
    font-size: 15px;

}
.creditos-1 p {
    color: white;
    text-decoration: none;
    font-size: 16px;

}
.creditos-1 a:hover {
    color: #eeba30;
    text-decoration: none;
    font-size: 15px;

}
.creditos{
    text-align: center;
    width: 100%;
}

.creditos p {
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 15px;
    color: #555555;
}

.creditos h2 {
    padding: 20px;
    color: #555555;
    font-weight: 500;
    text-transform: uppercase;
}

.creditos a {
    padding-bottom: 20px;
    color: rgb(148, 148, 255);
    font-weight: 500;
    text-decoration: none;
}

.contorno {
    margin: 15px auto;
    padding: 20px;
    width: 50%;
    background-color: #555555;
    border-radius: 15px;
    box-shadow: 5px 10px 15px black;
}

.contorno .cp {
    padding-top: 15px;
    text-align: center;
}

.cp a {
    color: white;
    text-decoration: none;
    transition: 0.5s;

}

.cp a:hover {
    text-decoration: wavy;
    transition: 0.5s;
    color: rgb(148, 148, 255);

}



@media screen and (max-width:700px) {
    header nav.menu-desktop {
        display: none;
    }

    .navegacao {
        height: 100px;
    }

    header .logo {
        width: 100%;
        text-align: center;
        padding: 30px;
    }

    header nav.menu-mobile {
        display: none;
        width: 100%;
        text-align: center;
        background-color: black;
        border-bottom: 1px solid rgb(255, 242, 0);
    }

    header nav.menu-mobile li {
        padding: 15px;
        border-bottom: 1px solid rgb(255, 242, 0);

    }

    header nav.menu-mobile li a {
        margin-top: 10px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        transition: 0.5s;

    }

    header nav.menu-mobile li a:hover {
        color: rgb(255, 242, 0);
        transition: 0.5s;
    }
}

@media screen and (max-width:640px) {
    section.introducao .estrutura {
        display: block;
    }

    section.introducao .estrutura .text-pro {
        width: 90%;
        max-height: 300px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        margin: 20px auto;
    }

    section.introducao .estrutura .img {
        width: 300px;
        height: 300px;
        margin: 50px auto;

    }

    section.projetos .projeto-estrutura .projeto-5 {
        display: none;
    }

    section.projetos .projeto-estrutura .projeto-6 {
        display: none;
    }

    section.contato .estrutura-contato .contato1 {
        width: 200px;
        height: 200px;
        margin-top: 15px;
    }

}

@media screen and (max-width:375px) {
    section.introducao .estrutura .img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    section.introducao .center h2 {
        font-size: 18px;
    }

    .text-pro h2 {
        font-size: 18px;
    }

    section.compentencias .competencia-estrutura .posicao1 {
        height: 275px;
    }

    section.projetos .projeto-estrutura .posicao-01 {
        width: 350px;
        height: 175px;
        margin-top: 20px;
    }

    section.projetos .projeto-estrutura .projeto-4 {
        display: none;
    }

    section.projetos h2 {
        font-size: 18px;
    }

    section.contato .estrutura-contato .contato1 {
        width: 120px;
        height: 120px;
        margin-top: 10px;
    }

    section.contato h2 {
        font-size: 18px;
    }

    section.contato p {
        font-size: 13px;
    }

}

@media screen and (max-width:325px) {
    section.introducao .center h2 {
        font-size: 15px;
    }

    .text-pro h2 {
        font-size: 15px;
    }

    .text-pro p {
        font-size: 13px;
        border-radius: 20px;
        border: 1px solid black;
        max-height: 150px;
        overflow: auto;
    }

    section.introducao .estrutura .text-pro {
        width: 100%;

    }

    section.introducao .estrutura .img {
        width: 120px;
        height: 120px;
    }

    section.compentencias .competencia-estrutura .posicao1 {
        width: 200px;
        height: 175px;
    }

    section.compentencias h2 {

        font-size: 15px;
    }

    section.projetos .projeto-estrutura .posicao-01 {
        width: 100%;
        height: 100px;
    }

    section.contato .estrutura-contato .contato1 {
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }
}